 <section class="artistpage">
 
  <ul ng-model="query" class="artistlist">
	 <button ng-click="toggle()" >SONGS</button>
	 
	 <p ng-show="myMale" ng-init="singer=['Kishore','Manna']">			
		<a id ={{singer[0]}} ng-click="first_toggle($event)" href="">{{singer[0]}}</a> 
		<a id ={{singer[1]}} ng-click="first_toggle($event)" href="">{{singer[1]}}</a>		 
	 </p>
	 
	<p ng-model= "male" ng-show="varFemaleSinger">	 
		<br/>	
		<a id="Lata" ng-click="female_toggle($event)" href="">Lata and {{male}}</a> 
		<a id="Asha" ng-click="female_toggle($event)" href="">Asha and {{male}}</a> 
	</p>
	 
    <li ng-show="mySongs" class="artist cf" ng-repeat="item in artists | filter: {nickName:query}"> 
        
        <div class="info">
          <h4>{{item.song}}</h4>		   
        </div>
      </a>
    </li>
  </ul>  
</section>